src/main/resources/schemas/Project.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Project">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Name"/>
                <xs:element type="xs:string" name="Technology"/>
                <xs:element type="xs:int" name="TeamSize"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>